.hero{
    /* margin-top: 6.9%; */
    /* height: 655px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
}
.hero-content{
    width: 40%;
    /* height: 80%; */
    
}
.hero-content h1, .hero-content p{
    padding: 5px 0px;
}
.hero-image{
    width: 52%;
    /* height: 99%; */
}
.slide-img{
    height: 640px;
}
@media screen and (max-width: 800px){
    .hero{
        flex-direction: column-reverse;
        margin-top: 2%;
        width: 92%;
    }
    .slide-img{
        height: 540px;
    }    
    .hero-image{
        width: 100%;
    }
    .hero-content{
        width: 100%;
        margin-top: 5%;
    }
}
